@import "tailwindcss";

/* تنظیمات پایه تم دارک */
body {
  background-color: #050505;
  color: #ffffff;
  font-family: 'AzarMehr', sans-serif;
}

/* اسکرول‌بار اختصاصی C STUDIO */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}